<%= form_with(model: [tweet, comment], remote: true ) do |form| %>
  <div class="form-profile" style="padding: 10px 0;">
    <div class="form-image">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar %>
      <% end %>
    </div>
    <div class="form-user">
      <h3 class="form-title-name">ユーザー名</h3>
      <%= @user.name %>
    </div>  
  </div>
  <%= form.text_area :content, class: 'text-field', placeholder: "返信しよう" %><br>
  <%= form.submit '返信', class: "buttan" %>
<% end %>